{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/register-form.css') }}">
{% endblock %}

{% block body %}
    <div class="register-container">
        <h2>Register</h2>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
        <a href="{{ path('app_connection') }}" class="btn-connection">
            <button type="button">Login</button>
        </a>
    </div>
{% endblock %}