{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/qcm.css') }}">
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ username }}! ✅</h1>
        <h1>Country Flags</h1>
        <ul class="flag-list">
            {% for flag in flags %}
                <li class="flag" data-country-name="{{ flag.countryName }}">
                    <img src="{{ flag.flagURL }}" alt="{{ flag.countryName }} flag" width="50">
                    <span class="flag-span">{{ flag.countryName }}</span>
                </li>
            {% endfor %}
        </ul>
        <h2 id="selected-flag-text">You are in english</h2>
        <h1>QCM List</h1>
        <ul>
            {% for qcm in qcms %}
                <li class="qcm-list">
                    <a href="{{ path('app_qcm_details', {id: qcm.id}) }}">{{ qcm.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('app_logout') }}" class="btn-connection">
        <button type="button">Logout</button>
    </a>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const flags = document.querySelectorAll('.flag');
            const selectedFlagText = document.getElementById('selected-flag-text');

            const translations = {
                'de': 'Du bist in deutsch',
                'fr': 'Tu es en français',
                'en': 'You are in english'
            };

            flags.forEach(flag => {
                flag.addEventListener('click', function() {
                    const countryName = this.getAttribute('data-country-name');
                    let text = translations['en']; // Default to English

                    if (countryName === 'de') {
                        text = translations['de'];
                    } else if (countryName === 'fr') {
                        text = translations['fr'];
                    }

                    selectedFlagText.textContent = text;
                });
            });
        });
    </script>
{% endblock %}